<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">


    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">


    <title>
        Memory Frame
    </title>


    <link rel="stylesheet"
          href="/static/style.css">

</head>



<body>


<div id="frame">


    <!-- ==========================================
         Media Layers

         Only one is visible at a time.
         Two layers allow smooth crossfade.
         ========================================== -->


    <img
        id="image"
        class="media"
        draggable="false"
        alt=""
    >



    <video
        id="video"
        class="media"
        muted
        playsinline
        preload="auto">
    </video>



    <!-- ==========================================
         Brightness Indicator

         Hidden normally.
         Appears during brightness adjustment.
         ========================================== -->


    <div id="brightnessOverlay">

        <span id="brightnessIcon">
            ☀
        </span>


        <span id="brightnessValue">
            100%
        </span>

    </div>



    <!-- ==========================================
         Future Clock Overlay

         Currently hidden.
         We will enable later.
         ========================================== -->


    <div id="clockOverlay">

    </div>



</div>




<script>


// =================================================
// Flask passes media library to Javascript
// =================================================


const mediaFiles =
    {{ media | tojson }};



</script>



<script src="/static/script.js"></script>



</body>

</html>
